In [27]:
class BusBookingSystem:
    def __init__(self):
        self.routes = {"Mumbai to Pune": 500,"Delhi to Jaipur": 600,"Bangalore to Mysore": 400,"Chennai to Pondicherry": 450}
        self.bookings = {}
        self.seats = {route: 0 for route in self.routes}
        self.ticket_counter = 1

    def book_ticket(self):
        name = input("Enter your name: ")
        age = input("Enter your age: ")
        mobile = input("Enter your mobile number: ")
        print("\nAvailable Routes:")
        for route, price in self.routes.items():
          print(f"{route} - ₹{price}")
        route = input("Enter the route (e.g., Mumbai to Pune): ")
        if route not in self.routes:
            print("Invalid route.")
            return

        if self.seats[route] >= 40:
            print("Sorry, no seats available for this route.")
            return


        ticket_id = "T" + str(self.ticket_counter)
        self.ticket_counter += 1

        seat_number = self.seats[route] + 1
        self.seats[route] += 1

        self.bookings[ticket_id] = {"name": name,"age": age,"mobile": mobile,"route": route,"price": self.routes[route],"seat_number": seat_number}

        print(f"\nTicket booked successfully!")
        print(f"Ticket ID: {ticket_id}, Seat No: {seat_number}, Route: {route}, Price: ₹{self.routes[route]}")

    def view_ticket(self):
        ticket_id = input("Enter the ticket ID to view: ")
        if ticket_id in self.bookings:
            ticket = self.bookings[ticket_id]
            print("\nTicket Details:")
            for key, value in ticket.items():
                print(f"{key.capitalize()}: {value}")
        else:
            print("Ticket not found.")

    def cancel_ticket(self):
        ticket_id = input("Enter the ticket ID to cancel: ")
        if ticket_id in self.bookings:
            route = self.bookings[ticket_id]["route"]
            self.seats[route] -= 1
            del self.bookings[ticket_id]
            print("Ticket cancelled successfully.")
        else:
            print("Ticket not found.")

In [28]:
Bus = BusBookingSystem()

In [29]:
Bus.book_ticket()

Enter your name: Mukesh
Enter your age: 22
Enter your mobile number: 22

Available Routes:
Mumbai to Pune - ₹500
Delhi to Jaipur - ₹600
Bangalore to Mysore - ₹400
Chennai to Pondicherry - ₹450
Enter the route (e.g., Mumbai to Pune): Mumbai to Pune

Ticket booked successfully!
Ticket ID: T1, Seat No: 1, Route: Mumbai to Pune, Price: ₹500

In [30]:
Bus.cancel_ticket()

Enter the ticket ID to cancel: T1
Ticket cancelled successfully.

In [31]:
Bus.book_ticket()

Enter your name: Mukesh
Enter your age: 22
Enter your mobile number: 123

Available Routes:
Mumbai to Pune - ₹500
Delhi to Jaipur - ₹600
Bangalore to Mysore - ₹400
Chennai to Pondicherry - ₹450
Enter the route (e.g., Mumbai to Pune): Delhi to Jaipur

Ticket booked successfully!
Ticket ID: T2, Seat No: 1, Route: Delhi to Jaipur, Price: ₹600

In [32]:
Bus.view_ticket()

Enter the ticket ID to view: T2

Ticket Details:
Name: Mukesh
Age: 22
Mobile: 123
Route: Delhi to Jaipur
Price: 600
Seat_number: 1